Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [11]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Abhi','Priya','Pranav','Nikhil','Vaishnavi','Bhanu','Madhav','Akhila','Riya','Renu'],
    'Age': [21,23,20,31,28,35,37,24,21,28],
    'Gender(M/F)': ['M','F','M','M','F','M','M','F','F','F'],
    'Score(/50)': [41,39,43,37,31,41,45,26,36,49],
    'Result(P/F)': ['P','F','P','F','F','P','P','F','F','P']
}
df = pd.DataFrame(data)
print(df)

        Name  Age Gender(M/F)  Score(/50) Result(P/F)
0       Abhi   21           M          41           P
1      Priya   23           F          39           F
2     Pranav   20           M          43           P
3     Nikhil   31           M          37           F
4  Vaishnavi   28           F          31           F
5      Bhanu   35           M          41           P
6     Madhav   37           M          45           P
7     Akhila   24           F          26           F
8       Riya   21           F          36           F
9       Renu   28           F          49           P

Task- 2 Check the info of 'df'

In [12]:
df_info = df.info()
print(df_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         10 non-null     object
 1   Age          10 non-null     int64
 2   Gender(M/F)  10 non-null     object
 3   Score(/50)   10 non-null     int64
 4   Result(P/F)  10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes
None

Task 3- Check the descriptive statistics of 'df'

In [13]:
print(df.shape)
df1=df.describe()
print(df1)

(10, 5)
             Age  Score(/50)
count  10.000000   10.000000
mean   26.800000   38.800000
std     6.033241    6.713171
min    20.000000   26.000000
25%    21.500000   36.250000
50%    26.000000   40.000000
75%    30.250000   42.500000
max    37.000000   49.000000

Task 4- Check the 4th index observation with 'loc' slicing operator.

In [14]:
obv_4=df.loc[4]
print(obv_4)

Name           Vaishnavi
Age                   28
Gender(M/F)            F
Score(/50)            31
Result(P/F)            F
Name: 4, dtype: object

Task 5 - Check the null values in your 'df'

In [15]:
null_values = df.isnull()
null_count = null_values.sum()
print(null_count)

Name           0
Age            0
Gender(M/F)    0
Score(/50)     0
Result(P/F)    0
dtype: int64